<body>
    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" class="img-fluid" style="height: 600px;">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <!-- <p>Welcome to weatherWEB</p> -->
                        <h1>I am a <span class="txt_clr">Backend Developer</span>, also a CP enthusiast</h1>
                        <a href="https://www.linkedin.com/in/suyash-suryavanshi-1b020a203/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>